<div class="modal fade" id="website_design" tabindex="-1" role="dialog" aria-labelledby="website_design" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">COMP125 | Bug Smasher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <p>
              A simple Bug Smasher browser-based (HTML5 canvas) game. The bug hops randomly around the game area at a given interval. 
              The player tries to catch the bug by clicking on it. 
              If he succeeds, the score is incremented and the hopping interval is decremented by a number of milliseconds, so it gets harder to catch the bug.
              If the game becomes too challenging, the player can reset the speed to the initial hopping interval by clicking the Reset Speed button.
              If the player wants, he can start again by resetting the score by clicking the Reset Score button.

              The project file contains another file which is a web page with a nav bar which different projects for the same course are connected to it by links to this nav bar.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>