<h2 class="info-header">Contact us</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">First Name</th>
        <td>Amir</td>
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td>Ghahremani</td>
      </tr>
      <tr>
        <th scope="row">Phone number</th>
        <td>(437) 240-8980</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>aghahre2@my.centennialcollege.ca</td>
      </tr>
    </tbody>
  </table>
</div>
