<table class="table table-hover table-responsive">
  <tbody>
    <tr>
      <th scope="row">Phone number</th>
      <td>0000000000</td>
      
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>example@gmail.com</td>
    </tr>
  </tbody>
</table>