<h2 class="form-header">Send an email</h2>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="first-name">First Name</label>
      <input type="first name" class="form-control" id="first-name" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="last-name">Last Name</label>
      <input type="last name" class="form-control" id="last-name" placeholder="Last Name">
    </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group col-md-12">
      <label for="subject">Subject</label>
      <input type="subject" class="form-control" id="subject" placeholder="Subject">
    </div>
    <div class="form-group col-md-12">
      <label for="message">Message</label>
      <textarea type="textarea" class="form-control" id="message" placeholder="Message"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="send">Send</button>
</form>