<div class="wrapper fadeInDown">
  <div id="formContent">

    <h1>EDIT</h1>
    
    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="login" class="fadeIn first" name="newUsername" placeholder="username">
      <input type="text" id="number" class="fadeIn second" name="newNumber" placeholder="123456789">
      <input type="text" id="email" class="fadeIn second" name="newEmail" placeholder="example@example.com">
      <input type="submit" class="btn btn-success edit-user" value="Update">
      <button type="button" class="btn btn-danger delete-user-edit-page"><i class="far fa-trash-alt"></i></button>
      <button type="button" class="btn btn-secondary cancel">Cancel</button>
    </form>
    
  </div>
</div>