<section class="page-section bg-primary" id="about">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0" draggable="false">MISSION</h2>
              <hr class="divider light my-4">
              <p class="text-white mb-1" draggable="false">Help you to create a valuable product or brands that will be able to create an emotional connection with your customers. Togheter we can create something valuable rather than just think about the profit.</p>
          </div>
      </div>
  </div>
</section>