<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Look at what I've done in the past</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#img_gallery">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/img_gallery.png" alt="image gallery" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">COMP125</div>
                        <div class="portfolio-caption-subheading text-muted">image gallery</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#bug_smasher">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/bug_smasher.png" alt="bug smasher game" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">COMP125</div>
                        <div class="portfolio-caption-subheading text-muted">bug smasher</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#graphic_design">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/graphic_design.jpg" alt="graphic design" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Happy Camper</div>
                        <div class="portfolio-caption-subheading text-muted">graphic design</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <% include projects_modals %>
  </div>
</section>