<h2 class="contact-table-header">Contacts List</h2>
<div class="table-responsive">
  <table class="table table-hover users-table">
    <thead>
      <tr>
        <th>Contact Name</th>
        <th>Contact Number</th>
        <th>Email Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].username %></td>
          <td><%= users[i].number %></td>
          <td><%= users[i].email %></td>
          <td>
            <button class="btn btn-success edit-user"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger delete-user"><i class="far fa-trash-alt"></i></button>
          </td>
        </tr>    
      <% } %>
    </tbody>
  </table>
</div>