<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Meta tag for SEO -->
    <% include partials/meta_seo %>
    
    <!-- Favicon -->
    <% include partials/favicon %>

    <!-- Google fonts-->
    <% include partials/google_fonts %>
    
    <!-- Css files-->
    <% include partials/css %>
  </head>
  <body>

    <!-- Navigation-->
    <% include partials/navbar %>

    <!-- About-->
    <% include partials/timeline_aboutPage %>

    <!-- Footer-->
    <% include partials/footer %>

    <!-- JS scripts -->
    <% include partials/scripts %>
  </body>
</html>
