<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Meta tag for SEO -->
    <% include partials/meta_seo %>
    <!-- Favicon -->
    <% include partials/favicon %>
    <!-- Google fonts-->
    <% include partials/google_fonts %>
    <!-- Css files-->
    <% include partials/css %>
  </head>
  <body>
    <!-- Navigation-->
    <% include partials/navbar %>
    <div class="container">
      <!-- Users table-->
      <% include partials/users_table %>
    </div>
    <!-- Footer-->
    <% include partials/footer %>
    <!-- JS scripts -->
    <% include partials/scripts %>
    <!-- Users table -->
    <script src="../javascripts/user_table.js"></script>
  </body>
</html>