<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Meta tag for SEO -->
    <% include partials/meta_seo %>
    
    <!-- Favicon -->
    <% include partials/favicon %>

    <!-- Google fonts-->
    <% include partials/google_fonts %>
    
    <!-- Css files-->
    <% include partials/css %>
  </head>
  <body>

    <!-- Navigation-->
    <% include partials/navbar %>
    
    <div class="container">
      <h2>Contact Infos</h2>
      <!-- Contact Info -->
      <% include partials/contact_info %>

      <h2>Contact Form</h2>
      <!-- Contact Form-->
      <% include partials/contact_form %>
    </div>
    
    <!-- Footer -->
    <% include partials/footer %>

    <!-- JS scripts -->
    <% include partials/scripts %>

  </body>
</html>
